* {
    box-sizing: border-box;
}

body {
    background-color: grey;
}

.title {
    text-align: center;
    color: white;
    margin-bottom: 30px;
    padding: 30px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 14%, rgba(5,162,168,1) 59%, rgba(0,212,255,1) 92%);
}

.search-column{
    background-color: white;
    border-radius: 10px;
}

.list-group-item{
    line-height: 0.5;
    border: none;
}
.card-body{
    margin-top: 30px;
}

span.severe{
    padding: 3px;
    background-color: red;
    color:white;
}

span.moderate{
    padding: 3px;
    background-color: yellow;
}

span.favorable{
    padding: 3px;
    background-color: green;
    color:white;
}