* {
    box-sizing: border-box;
}

body {
    background-image: url(./images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    text-align: center;
    color: white;
    margin-bottom: 30px;
    padding: 30px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 14%, rgba(5,162,168,1) 59%, rgba(0,212,255,1) 92%);
}

.app-title {
    font-size: 60px;
    font-family: "Poppins";
    font-weight: 500;
}

.card-header {
    font-size: 35px;
    font-family: "Poppins";
    font-weight: 400;
}

.btn {
    background-color: rgba(5,162,168,1);
    color: white;
}

.card-header {
    margin-top: 30px;
    background-color: white;
    font-size: 35px;
    font-family: "Poppins";
    font-weight: 400;
}

h2 {
    font-family: "Poppins";
    font-size: 40px;
    font-weight: 400;
}